appdirs==1.4.4
asgiref==3.5.0
Augmentor==0.2.9
backports.zoneinfo==0.2.1
black==21.7b0
certifi==2021.10.8
cffi==1.15.0
cli-helpers==2.2.1
click==8.0.1
configobj==5.0.6
cryptography==36.0.1
distlib==0.3.2
Django==4.0.2
django-cors-headers==3.11.0
django-extensions==3.1.5
Faker==13.0.0
filelock==3.0.12
flake8==3.9.2
future==0.18.2
mccabe==0.6.1
mycli==1.24.3
mypy-extensions==0.4.3
numpy==1.22.2
pandas==1.4.1
pathspec==0.8.1
Pillow==9.0.1
pipenv==2021.5.29
prompt-toolkit==3.0.28
pyaes==1.6.1
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
Pygments==2.11.2
PyMySQL==1.0.2
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2021.3
regex==2021.7.6
six==1.16.0
sqlparse==0.4.2
tabulate==0.8.9
toml==0.10.2
tomli==1.2.1
tqdm==4.62.3
virtualenv==20.4.7
virtualenv-clone==0.5.4
wcwidth==0.2.5
